<h3><a href="/docs/">Getting started</a></h3>
<ul>
    <li><a href="/docs/application/desktop/">Desktop client</a></li>
    <li><a href="/docs/application/exporter/">Command line application</a></li>
    <li><a href="/docs/supported-xml-comments/">Suppored XML comments</a></li>
</ul>
<h3>Exporting</h3>
<ul>
    <li><a href="/docs/export/">Export quick start</a></li>
    <li><a href="/docs/export/exporters/">Help compilers</a></li>
    <li><a href="/docs/export/customising/">Customising the export</a></li>
    <li><a href="/docs/live-documenter-configuration-files/">What are LDEC files</a></li>
    <li><a href="/docs/export/create-own-ldec-file/">Creating your own LDEC files</a></li>
</ul>
