<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {% include tracking.html %}

    <title>{{page.title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/site.css" />
  </head>
  <body>
    {% include nav.html %}
    <main id="docs">
      <div class="container">
        <div class="row">
          <div class="links col-3 pt-5">
            <h3><a href="/docs/">Getting started</a></h3>
            <ul>
                <li><a href="/docs/introduction/">Introduction</a></li>
                <li><a href="/docs/live-documenter-configuration-files/">What are LDEC files</a></li>
                <li><a href="/docs/supported-xml-comments/">Suppored XML comments</a></li>
                <li><a href="/docs/application/desktop/">Desktop client</a></li>
                <li><a href="/docs/application/exporter/">Command line application</a></li>
            </ul>
            <h3>Exporting</h3>
            <ul>
                <li><a href="/docs/export/">Export quick start</a></li>
                <li><a href="/docs/export/exporters/">Help compilers</a></li>
                <li><a href="/docs/export/customising/">Customising the export</a></li>
                <li><a href="/docs/export/create-own-ldec-file/">Creating your own LDEC files</a></li>
            </ul>
            <h3>Documentation API</h3>
            <ul>
                <li><a href="/docs/api/index.html">Overview</a></li>
                <li><a href="/docs/api/index.htm">API Docs</a></li>
            </ul>
          </div>
          <div class="content col-9 pt-5 pl-5">
            {{content}}
          </div>
        </div>
      </div>  
    </main>
  </body>
</html>
