<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {% include tracking.html %}

    <title>{{page.title}}</title>
    {% include references.html %}
  </head>
  <body>
    {% include nav.html %}
    <main id="docs">
      <div class="container">
        <div class="row">
          <div class="links col-md-3 pt-5">
              {% include doc_links.html %}
              <h3>API</h3>
              <ul>
                <li><a href="/docs/api/index.html">Overview</a></li>
                <li><a href="/docs/api/index.htm">API Docs</a></li>
              </ul>
          </div>
          <div class="content col-md-9 pt-5">
            <div class="page">
              {{content}}
            </div>
          </div>
        </div>
      </div>  
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
