

$c-primary-1: hsl(185, 100%, 23%);
$c-primary-2: hsla(186, 91%, 83%, 1);
$c-primary-3: hsla(186, 80%, 77%, 1);
$c-primary-4: hsla(186, 65%, 67%, 1);
$c-primary-5: hsl(186, 53%, 57%);
$c-primary-6: hsl(185, 100%, 23%);
$c-primary-7: hsl(185, 100%, 23%);
$c-primary-8: hsla(186, 93%, 17%, 1);
$c-primary-9: hsla(186, 100%, 10%, 1);

$c-neutral-1: hsl(0, 0%, 95%);
$c-neutral-2: hsl(0, 0%, 75%);
$c-neutral-3: hsl(0, 0%, 65%);
$c-neutral-4: hsl(0, 0%, 55%);
$c-neutral-5: hsl(0, 0%, 45%);
$c-neutral-6: hsl(0, 0%, 35%);
$c-neutral-7: hsl(0, 0%, 25%);
$c-neutral-8: hsl(0, 0%, 15%);
$c-neutral-9: hsl(0, 0%, 5%);

$c-accent1-1: hsla(35, 100%, 95%, 1);
$c-accent1-4: hsla(27, 98%, 65%, 1);
$c-accent1-5: hsla(27, 92%, 52%, 1);
$c-accent1-6: hsla(27, 98%, 42%, 1);
$c-accent1-7: hsla(30, 100%, 25%, 1);

$c-accent2-1: hsla(168, 100%, 90%, 1);
$c-accent2-3: hsla(168, 90%, 70%, 1);
$c-accent2-5: hsla(168, 75%, 23%, 1);
$c-accent2-6: hsla(165, 80%, 18%, 1);

$c-border: hsla(186, 100%, 10%, 0.1);