
$f-base-size: 16px;

.strapline {
    @include media-breakpoint-down(sm) {
        font-size: 1.8rem;
    }
    @include media-breakpoint-up(sm) {
        font-size: 2.25rem;
    }
}
.preamble p {
    @include media-breakpoint-down(sm) {
        font-size: 1.05rem;
    }
    @include media-breakpoint-up(sm) {
        font-size: 1.12rem;
    }
}

@include media-breakpoint-down(sm) {
    h2 { font-size: 1.5rem; }
    h3 { font-size: 1.2rem; }
}
@include media-breakpoint-up(sm) {
    h2 { font-size: 1.8rem; }
    h3 { font-size: 1.5rem; }
} 