
$f-base-size: 17px;
body p {
    line-height: 1.8rem;
}

h1, h2, h3 {
    font-family: source-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.links h3 { font-family: inherit; }

.strapline {
    @include media-breakpoint-down(sm) {
        font-size: 1.8rem;
    }
    @include media-breakpoint-up(sm) {
        font-size: 2.25rem;
    }
}
.preamble p {
    @include media-breakpoint-down(sm) {
        font-size: 1.05rem;
    }
    @include media-breakpoint-up(sm) {
        font-size: 1.12rem;
    }
}

@include media-breakpoint-down(sm) {
    h2 { font-size: 1.5rem; }
    h3 { font-size: 1.2rem; }
}
@include media-breakpoint-up(sm) {
    h2 { font-size: 1.8rem; }
    h3 { font-size: 1.5rem; }
} 