---
---

@import "bootstrap/bootstrap";
@import "custom/colors";
@import "custom/typography";
@import "custom/api";
@import url(tango.css);

$default-shadow: 0 4px 6px 0 hsla(0, 0%, 1%, 0.1);

body {
    background-color: $c-neutral-1;
    font-size: $f-base-size;
}
section .container {
    max-width: 960px;
}

nav, header, .background {
    background-color: $c-primary_7;
}
nav {
    a {
        color: $c-neutral-1;
    }

    .navbar-brand img {
        height: 43px;
    }
}

#frontpage {
    .background {
        position: absolute;
        height: 100vh;
        min-height: 600px;
        width: 100vw;
        max-height: 800px;
        z-index: -10;
        box-sizing: content-box;
        border-bottom: 3rem solid $c-accent2-3;
    }
    header { 
        .container {
            text-align: center;
            color: hsla(186, 33%, 83%, 1);
            h1 {
                padding-top: 20vh;
                color: $c-neutral-1;
            }
            .preamble {
                max-width: 28rem;
                margin: 0 auto;
            }
            .download-button {
                margin-top: 10vh;
                margin-bottom: 10vh;
            }
        }
    }

    section h2 { text-align: center; }

    section.call-to-action {
        color: white;
        background-color: $c-accent1-5;
        margin-bottom: 0;

        p {font-size: 1.7rem;}
        
        .row { height: 10rem;}
        
        .col:nth-child(2) {
            text-align: center;

            a {
                padding: 1rem 2rem;
                border: 1px solid $c-neutral-1
            }
        }
    }

    @include media-breakpoint-down(md) {
        h2 { padding: 4rem 0 0 0; }
        h3 { padding: 2rem 0 0.5rem 0; }
    }
    @include media-breakpoint-up(md) {
        h2 { padding: 6rem 0 0 0; }
        h3 { padding: 2.5rem 0 0.7rem 0; }
    } 
    @include media-breakpoint-up(lg) {
        h2 { padding: 9rem 0 0 0; }
        h3 { padding: 4rem 0 1.5rem 0; }
    }

    .features .content { max-width: 55rem; }
    .why > * {
        max-width: 50rem;
    }

    .why {
        background-color: $c-accent2-6;
        color: $c-accent2-1;
    }

    .features {
        h3 {
            padding-bottom: 1rem;
            margin-bottom: 0;
        }
        p {
            padding-top: 0;
        }
        .feature {
            @include media-breakpoint-down(md) {
                margin: 3rem 0;
            }
            @include media-breakpoint-up(md) {
                margin: 4rem 0;
            } 
            @include media-breakpoint-up(lg) {
                margin: 6rem 0;
            }
        }
    }
}

p { padding: 1rem 0 0 0; }
h1>p,h2>p,h3>p {padding-top: 0;}

.download-button {
    border-radius: 3px;
    background-color: $c-accent1-5;
    box-shadow: $default-shadow;
    color: $c-accent1-1;
    padding: 0.7rem 1.3rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.15);    
}
.download-button:hover {
    text-decoration: none;
    color: $c-accent1-1;
    background-color: $c-accent1-6;
}

.screenshot img, .image_border {
    border-radius: 6px;
    box-shadow: $default-shadow;
}

section {
    @include media-breakpoint-down(md) {
        padding-bottom: 3rem;
    }
    @include media-breakpoint-up(md) {
        padding-bottom: 5rem;
    } 
}
section.call-to-action {
    @include media-breakpoint-down(md) {
        padding-bottom: 0;
        margin-bottom: 3rem;
    }
    @include media-breakpoint-up(md) {
        padding-bottom: 0;
        margin-bottom: 5rem;
    } 
}

#docs {
    border-top: 1rem solid $c-accent2-3;
    
    .content {
        background-color: white;
        padding: 0 2rem;
    }
    
    .content>div>p:first-of-type {
        font-size: 1.1rem;
        font-weight: normal;
        font-style: italic;
    }

    .links {
        color: $c-primary-9;
        a { color: $c-primary-9; }
        a:hover { color: $c-primary-9; }

        ul { list-style-type: none; padding-left: 0.5rem; }

        h3 {
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: bold;
        }
    }

    .page {
        padding-bottom: 5rem;
        h2 { padding-top: 3rem; }
        h3 { padding-top: 2rem; }
    }
    pre {
        border: 1px solid $c-border;
        background-color: $c-neutral-1;
        border-radius: 3px;
        padding: 1rem;
    }
    p>code, p>.code {
        border: 1px solid $c-border;
        background-color: $c-neutral-1;
        border-radius: 3px;
        padding: 2px;
        color: inherit;
    }
}

.keyword { color: #0101fd; }

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.info {
    background-color: rgba(255,229,100,0.3);
    padding: 1rem;
}
.note::before {
    content: 'Note';
    font-weight: bold;
}

#docs.docs_api {
        
    >div
    {
        padding-right: 30px;
        padding-left: 30px;
    }
    
    section.details .summary {
        font-style: italic;
    }

    .inheritance h2 { display: none; }

    .syntax h2 { display: none; }
    .code
    {
        background-color: hsl(0, 0%, 95%);
        border: 1px solid $c-border;
        border-bottom: none;
        border-radius: 3px;
    }
    .code pre {
        border: none;
        padding: 0.5rem;
        border-bottom: 1px solid $c-border;
    }
    section.details .syntax>div>div
    {
        padding: 0.4rem 0.6rem;
        background-color: hsl(0, 0%, 93%);
    }
    .syntax pre span {display: inline;}
    // .syntax pre span.keyword { color: hsl(236, 100%, 73%); }

    code {
        color: inherit;
    }
    code::after {content: " ";}

    
    section.details {border-top: none; 	margin-top: 0;padding-top: 0;}

    section.details h1 
    {
        margin-bottom: 2rem;
    }

    section.details div.summary {
        margin: 0 0 1.5rem 0;
        font-size: 1.1rem;
        font-weight: 300;
    }

    section.details .inheritance .inherits_from
    {
        color: #AAAAAA;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .inheritance .inherits_from span:not(:last-child):after
    {
        content: ' -> '
    }
    .inheritance .derived {
        margin: 1rem 0 1.2rem 0;
        color: inherit;
    }
    .inheritance .derived span
    {
        display: block;
    }

    section.details .details {
        margin-bottom: 1rem;
        display: none;
    }

    section.members .entry,
    section.namespaces .entry
    {
        margin: 1rem 0;
    }

    section.members .entry .details {
        margin: 3rem;
    }

    div section 
    {
        border-top: 1px solid hsla(186, 53%, 57%, 0.2);
        margin-top: 4rem;
        padding-top: 3rem;
    }
}