---
title: Live Documenter .NET Documentation Generator
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {% include tracking.html %}

    <title>{{page.title}}</title>

    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/site.css" />
    
  </head>
  <body id="frontpage">
    <div class="background"></div>
    <header class="container-fluid">
        {% include nav.html %}
        <div class="container justify-content-center">
            <div class="preamble">
                <h1 class="strapline">Release the comments hiding in your source code.</h1>
                <p>Read, search and publish them with Live Documenter. Documentation for .NET made easy.</p>
            </div>
            <div class="d-flex justify-content-center">
                <a href="" class="download-button">Download for Windows</a>
            </div>
        </div>
    </header>
    <main>
        <section class="features">
            <div class="container">
                <div class="screenshot d-flex justify-content-center">
                    <img src="assets/images/web_screenshot.png" />
                </div>
                <h2>Your comments...</h2>
                <div class="row">
                    <h3 class="col">Always up-to-date</h3>
                </div>
                <div class="row">
                    <div class="col-md">
                        <p>Read the latest documentation for your project, always live, always up-to-date, like a book hot of the press.</p>
                    </div>
                    <div class="col-md">
                        <img src="" width="50px" height="50px" />
                    </div>
                </div>
                <div class="row">
                    <h3 class="col">Searchable</h3>
                </div>
                <div class="row">
                    <div class="col-md">
                        <img src="" width="50px" height="50px" />
                    </div>
                    <div class="col-md">
                        <p>Find everything quickly and easily</p>
                    </div>
                </div>
                <div class="row">
                    <h3 class="col">Publishable</h3>
                </div>
                <div class="row">
                    <div class="col-md">
                        <p>Produce beautiful static versions of your documentation in web and compiled help formats. Quickly and easily.</p>
                    </div>
                    <div class="col-md">
                        <img src="" width="50px" height="50px" />
                    </div>
                </div>
            </div>
        </section>
        <section class="why">
            <div class="container">
                <h2>Why Live Documenter?</h2>
                <p>So you have spent hours adding comments to your source code, providing, summaries, examples and detail of how to use various classes and methods. But then it sits there, and gets stagnant and out of date.</p>
                <p>Well not any more! Live Documenter unlocks all of that rich detail and documentation and makes it available as richly formatted easy to digest, searchable document. The digital manual for your project you always wanted.</p>
                <p>Need to get new developers up to speed on existing projects! Give them Live Documenter and let them learn the project by reading the documentation and the source. Speeding up knowledge transfer.</p>   
            </div>
        </section>
        <section class="call-to-action">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <p>Download now and get started!</p>
                    </div>  
                    <div class="col">
                        <a href="#" class="download-button">Download</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>