---
title: Live Documenter .NET Documentation Generator
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    {% include tracking.html %}

    <title>{{page.title}}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/site.css" />
  </head>
  <body id="frontpage">
    {% include nav.html %}
    <header class="container-fluid">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md p-5 d-flex justify-content-center">
                    <img class="logo" alt="Live Documenter Logo" src="assets/images/logo_white.png" />
                </div>
                <div class="col-md p-5">
                    <h2>Create beautiful documentation from .NET code and comments.</h2>
                    <p>Generating great looking easy to use documentation from .NET code and comments has just become a whole lot easier.</p>
                </div>
            </div>
        </div>
    </header>
    <main>        
        <section class="introductions container-fluid">
            <div class="container">
                <div class="row callouts">
                    <div class="col-md">
                        <h3>Generate documentation fast</h3>
                        <p>Quickly turn code and coments to beautiful help files. Make generating documentation a joy not a chore.</p>
                    </div>
                    <div class="col-md">
                        <h3>View documentation live</h3>
                        <p>See your documentation always live, always up-to-date. Read it like a book, hot off the press.</p>
                    </div>
                    <div class="col-md">
                        <h3>Integrate documentation simply</h3>
                        <p>Join up with your existing processes. Software that feels at home everywhere.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <img class="img-fluid" src="/assets/images/ld.png" />
                    </div>
                </div>
            </div>
        </section>
        <section class="getit container-fluid">
            <div class="container p-5">
                <div class="row align-items-center p-3">
                    <div class="col-8 pr-5">
                        <p>Generating documentation has never been so easy. Get it now, it's free and open source!</p>
                    </div>
                    <div class="col">
                        <a class="btn btn-block btn-outline-light" href="/download/" target="_blank">Download</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="functionality container-fluid">
            <div class="container py-3">
                <div class="row py-5">
                    <h2 class="col">View your documentation - live.</h2>
                </div>
                <div class="row">
                    <div class="col-md-4 has_icon">
                        <span class="icon_container"><span class="icon live"></span></span>
                        <h3>Always live, always up-to-date.</h3>
                        <p>The Live Documenter desktop application can point straight at a library, project or solution. Immediately displaying well formatted documentation.</p>
                    </div>
                    <div class="col-md-4 has_icon">
                        <span class="icon_container"><span class="icon search"></span></span>
                        <h3>Information at your fingertips.</h3>
                        <p>Fast searching is built in, find the information you're looking for quickly.</p>
                    </div>
                    <div class="col-md-4 has_icon">
                        <span class="icon_container"><span class="icon clock"></span></span>
                        <h3>Exceptional performance.</h3>
                        <p>Providing live up-to-date documentation at high speed is important when you want your documentation to help, not hinder, your development process. Live Documenter loads large projects at lightening quick speed.</p>
                    </div>
                </div>
            </div>  
        </section>
        <section class="functionality container-fluid">
            <div class="container py-3">
                <div class="row py-5">
                    <h2 class="col">Generate your documentation fast.</h2>
                </div>
                <div class="row">
                    <div class="col-md-4 has_icon">
                        <span class="icon_container"><span class="icon cogs"></span></span>
                        <h3>Configuration made easy.</h3>
                        <p>Configuring what and how you want your documentation to include and look like need not be complicated. Live Documenter provides a simple configuration process to get you going quickly.</p>
                    </div>
                    <div class="col-md-4 has_icon">
                        <span class="icon_container"><span class="icon export"></span></span>
                        <h3>Export to everything.</h3>
                        <p>Live Documenter provides export functionality to create HTML Help 1, HTML Help 2, XML, Web and Help Viewer 1. If you don't get what you want out of the box, Live Documenter makes it easy to create new export formats using XSLT and export configuration files. You can also export to multiple formats in one go.</p>
                    </div>
                    <div class="col-md-4 has_icon">
                        <span class="icon_container"><span class="icon bolt"></span></span>
                        <h3>Generate it fast.</h3>
                        <p>Live Documenter is fast! It will produce a website from code and comments containing around 5000 types and members in around 1 minute.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="functionality container-fluid">
            <div class="container py-3">
                <div class="row py-5">
                    <h2 class="col-md">Integrate everywhere.</h2>
                </div>
                <div class="row">
                    <div class="col-md-6 has_icon">
                        <span class="icon_container"><span class="icon stream"></span></span>
                        <h3>Include in existing build process.</h3>
                        <p>Live Documenter provides a command line utility that can be easily included in exsiting build processes. Use the power of Live Documenter straight away.</p>
                    </div>
                    <div class="col-md-6 has_icon">
                        <span class="icon_container"><span class="icon api"></span></span>
                        <h3>API for everything else.</h3>
                        <p>The Live Documenter .NET API can be integrated in to applications, web sites, intranets - anywhere you have .NET code, you can have all the power of Live Documenter and all the flexibility you need to fit your docuementation anywhere.</p>
                    </div>
                </div>
            </div> 
        </section>
        <section class="functionality products container-fluid">
            <div class="container py-5">
                <div class="row py-5">
                    <h2 class="col">.NET documentation unleashed.</h2>
                </div>
                <div class="row">
                    <div class="col-md-4 has_icon">
                        <span class="icon_container"><span class="icon tick red"></span></span>
                        <h3>Desktop application.</h3>
                        <p>Documentation viewer, always live always up-to-date.</p>
                    </div>
                    <div class="col-md-4 has_icon">
                        <span class="icon_container"><span class="icon tick blue"></span></span>
                        <h3>Command line utility.</h3>
                        <p>Tool for automation and integration.</p>
                    </div>
                    <div class="col-md-4 has_icon">
                        <span class="icon_container"><span class="icon tick green"></span></span>
                        <h3>Documentation API.</h3>
                        <p>Flexibility and control.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>